.hero {
  background-color: #fff;
  padding-bottom: 2em;
}

.heroTag {
}

.heroImage {
  height: 25em;
  width: 100%;
  background-image: url("../../public/images/eggs.jpg");
  background-size: cover;
  background-position: center;
}
